<h1>My Created Events</h1>
<% @event.each do |event| %>
  <h2><%= event.name %></h2>
  <%= event.date %>
  <strong><%= event.description %></strong>
<% end %>
<h1>My upcoming events</h1>
<% @upcoming_events.each do |event| %>
  <%= event['name'] %>
  <%= event['date'] %>
<% end %>
<h1>My past events</h1>
<%@past_events.each do |event| %>
  <%= event['name'] %>
  <%= event['date'] %>
<% end %>
