<div class="row my-3">
  <div class="col-6">
  <h2 class="badge bg-danger text-light w-100 fs-3">Upcoming Events</h2>
  <% @upcoming.each do |event| %>
  <div class="card my-4">
    <div class="card-body">
      <h5 class="card-title"><%= event.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.date %></h6>
      <p class="card-text"><%= truncate(event.description, length: 285, omission: '...') %></p>
      <div class="d-flex flex-row justify-content-between">
        <%= link_to "Read more", event_path(event), class: 'btn btn-danger px-2 py-1' %>
        <% if user_signed_in? %>
          <% if event.attendances.where(user_id:current_user.id).blank? %>
            <%= button_to 'Attend', event_attendances_path(event), class: 'btn btn-success px-2 py-1' %>
          <% else %>
            <%= button_to 'I will not attend', event_attendances_path(event) + "/" + event.attendances.where(user_id:current_user).first.id.to_s, method: 'delete', action: 'delete', class: 'btn btn-danger px-2 py-1' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  </div>
  <div class="col-6">
  <h2 class="badge bg-danger text-light w-100 fs-3">Past Events</h2>
  <% @past.each do |event| %>
    <div class="card my-4">
      <div class="card-body">
        <h5 class="card-title"><%= event.name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= event.date %></h6>
        <p class="card-text"><%= truncate(event.description, length: 50, omission: '...') %></p>
        <div class="d-flex flex-row justify-content-between">
          <%= link_to "Read more", event_path(event), class: "btn btn-danger px-2 py-1" %>
          <% if user_signed_in? %>
            <% if event.attendances.where(user_id:current_user.id).blank? %>
              <%= button_to 'Attend', event_attendances_path(event), class: 'btn btn-success px-2 py-1', :disable => true %>
            <% else %>
              <%= button_to "I didn't attend", event_attendances_path(event) + "/" + event.attendances.where(user_id:current_user).first.id.to_s, method: 'delete', action: 'delete', class: 'btn btn-danger px-2 py-1', :disabled => true %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>