<h1>Create New Event</h1>
<%= form_for :event, url: events_path do |f| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </p>

  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit "Save Event", class: 'btn btn-danger fw-bold w-100' %>
  </p>
<% end %>